name: CI-Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [18, 20, 22, 24, latest]
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm install prom-client
            - run: npm install
            - run: npm run lint
            - run: npm test
            - run: npm run test-types

    codeql:
        name: CodeQL Analysis
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Initialize CodeQL
              uses: github/codeql-action/init@v4
              with:
                  languages: javascript
            - name: Perform CodeQL Analysis
              uses: github/codeql-action/analyze@v4

    audit:
        name: Audit Dependencies
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js 18
              uses: actions/setup-node@v6
              with:
                node-version: 18
            - run: npm install
            - name: Audit Dependencies
              run: npm audit --audit-level=moderate